<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset=UTF-8>
  <title>Festival Manager</title>
</head>
  <header>
    <div id="head">
      <button class="head">Find</button>
      <button class="head">Create</button>
      <button class="head">Info</button>
    </div>
    <div>
      <button id="Connection"> Sign in</button>
    </div>
  </header>
    <body>
      <app-festival-component></app-festival-component>
    </body>
  <footer>
    <div>
      <p id="foot1">
        Hackathon
        Team J
      </p>
    </div>
    <div>
      <p id="foot2">
        2022 Hackathon Festival management app
      </p>
    </div>
  </footer>
</html>

