.wrapper{
  margin-top: 6%;
  grid-template-columns: repeat(3, 1fr);
  display:grid;
  grid-gap: 1em 20px;
}
.festival {
  box-shadow: 5px 5px 5px #b1003f;
  background-color: #252727;
  width: 90%;
}
.categoryIndic{
  font-weight: bold;
  color: #b1003f;
}
#pagination {
  margin-top: 2%;
  width: 97%;
}
